#liste table{
    border-collapse: collapse;
    width: 400px;
    margin: 50px;
    border: 1px solid #ddd;
    padding: 8px;
}
#liste tr:nth-child(even) {
    background-color: #F2F2F2;
}
#liste tr:hover {
    background-color: #DDDDDD;
}
#liste th {
    padding: 12px 8px 20px 8px;
    text-align: left;
    background-color: #FF715B;
    color: white;